body{
    background-color: aquamarine;
    text-align: center;
}

button{
    width: 130px;
    height: 68px;
    background-color: blueviolet;
    color: white;
    font-size: 27px;
    border-radius: 50px;
}
button:hover{
    background-color: antiquewhite;
    color: white;
    cursor: pointer;
}